ion-title {
  font-family: 'Permanent Marker', cursive;
}

.logo {
  padding: 5px;
}

.book {
  background-image: url("../../../assets/images/biblio.svg");
  width: 100%;
  height: 100vh;
}

.messageInfo {
  color: green;
}

.messageAlerte {
  color: red;
}

