ion-title {
  font-family: 'Permanent Marker', cursive;
}


.logo {
  padding: 5px;
}


.alerte, .messageAlerte{
  color: red;

}

.info {
  color: black;
}

.messageInfo {
  color: green
}


.saisie {
  color: blue;
}


.statut {
  width: 40px;
}
