<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <ion-img src="assets/images/logo.svg" class="logo"></ion-img>
    </ion-thumbnail>
    <ion-title><span>Bienvenue {{ Prenom }} {{ Nom }}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="addForm" (ngSubmit)="ajouterBibliothecaire()">
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input formControlName="Nom" type="text" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Prénom</ion-label>
            <ion-input formControlName="Prenom" type="text" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="Email" type="text" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="Password" type="password" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Référent</ion-label>
            <ion-select formControlName="Referent" value="false">
              <ion-select-option value="true">Oui</ion-select-option>
              <ion-select-option value="false">Non</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label position="floating">Statut</ion-label>
            <ion-select formControlName="Statut" value="Actif">
              <ion-select-option value="Actif">Actif</ion-select-option>
              <ion-select-option value="Suspendu">Suspendu</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-row>
            <ion-col size-sm="4" offset-sm="4">
              <ion-button type="submit" color="danger" shape="full" expand="block"  [disabled]="addForm.invalid">
                Ajouter
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <span id="message">
          {{ message }}
        </span>
      </ion-col>
    </ion-row>
    <ng-container *ngFor="let bibliothecaire of bibliothecaires | async">
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-label>
              <h5>{{bibliothecaire.Nom}}</h5>
              <p>{{bibliothecaire.Prenom}}</p>
            </ion-label>
            <div class="item-note" item-end>
              <ion-icon name="create" style="zoom:2.0" [routerLink]="['/referent-details/', bibliothecaire.id]">
              </ion-icon>
              <ion-icon name="trash" style="zoom:2.0" (click)="supprimerBibliothecaire(bibliothecaire.id)"></ion-icon>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
