<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list" *ngIf="appPages$ | async as appPages">
          <ion-list-header>Biblio</ion-list-header>
          <ion-note>Gestionnaire de médiathèque</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index ; let dernier = last">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
            <ion-item *ngIf="seDeconnecte$.value && dernier" (click)="seDeconnecter()">
              <ion-label>Se déconnecter </ion-label>
            </ion-item>
            <ion-item *ngIf="dernier">
              <a href="https://biblio.nicolas-tartaglia.com/assets/apk/biblio.apk">Biblio Android</a>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
