<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-thumbnail slot="start">
      <ion-img src="assets/images/logo.svg" class="logo"></ion-img>
    </ion-thumbnail>
    <ion-title><span>Bienvenue {{ Prenom }} {{ Nom }}</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ng-container *ngIf="initCommentaire">
    <ng-container *ngFor="let commentaire of commentaires | async">
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-item>
            <ion-textarea rows="6" readonly value="{{commentaire.Contenu}}"></ion-textarea>
            <div class="item-note annotation" item-end>
              <p>{{ datesCommentairesAffichees[commentaire.id] }}</p>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
          <ion-row>
            <ion-col size-sm="5" offset-sm="1">
              <ion-button color="success" shape="full" expand="block"
                (click)="approuverCommentaire(commentaire.id)">
                Approuver
              </ion-button>
            </ion-col>
            <ion-col size-sm="5" offset-sm="1">
              <ion-button color="danger" shape="full" expand="block"
                (click)="supprimerCommentaire(commentaire.id)">
                Supprimer
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ng-container>
  </ng-container>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <span class="messageInfo">
          {{ messageInfo }}
        </span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!initCommentaire">
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <span class="messageInfo">
          Aucun commentaire à traiter
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2" size-lg="6" offset-lg="3">
        <ion-row>
          <ion-col size-sm="5" offset-sm="1">
            <ion-button color="tertiary" shape="full" expand="block" [routerLink]="['/bibliothecaire']">
              Retour
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
